MONGO_URI=mongodb_connection_string_here
DATABASE_NAME=database_name
DOCUMENTS_RETURN_POLOCY_COLLECTION_NAME=documents_collection_name
PRODUCTS_COLLECTION=products_collection_name
PRODUCTS_VECTOR_INDEX_NAME=products_vector_index_name
DOCUMENTS_VECTOR_INDEX_NAME=documents_vector_index_name
